#content {
  background: rgb(66,66,66);
  box-shadow: rgba(0,0,0,0.33) 0 0 12px;
  overflow: hidden;
}

.content-title {
  padding: 2rem 0 0 0;
  text-align: center;
  color: white;
  font-family: 'Quicksand';
}

.agenda {
  text-align: center;
  font-family: 'Quicksand';
  font-weight: bold;
  color: rgba(255,255,255,0.61);
  margin-bottom: 2rem;
}

.title-category {
  color: white;
  font-family: 'Roboto';
  font-size: 17px;
  text-align: center;
  background: rgba(255,255,255,0.08);
  margin: 0;
}

.picture-bigbox {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 768px) {
  .picture-bigbox {
    transform: scale(0.7);
  }
}

@media (max-width: 535px) {
  .picture-bigbox {
    transform: scale(1);
  }
}

.row-separator {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 2rem 0;
}

.row-separator2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 2rem 0;
}

@media (max-width: 1300px) {
  .picture-bigbox {
    flex-direction: row;
  }
}

@media (max-width: 535px) {
  .picture-bigbox {
    flex-direction: column;
  }
}

@media (max-width: 1300px) {
  .row-separator {
    flex-direction: column;
  }
}

@media (max-width: 1300px) {
  .row-separator2 {
    flex-direction: column;
  }
}

#pb {
  border-radius: 10px;
  box-shadow: rgba(0,0,0,0.48) 0 0 12px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  transition-duration: 0.3s;
  font-family: 'Roboto';
}

@media (max-width: 1300px) {
  #pb {
    margin: 1rem;
  }
}

#pb:hover {
  transform: scale(1.1);
}

#pb:hover .picture-title {
  transform: translate(0px,0px);
}

.picture-title {
  background: linear-gradient(0deg,rgba(0,0,0,0.68),rgba(0,0,0,0));
  margin: 0;
  padding: 5px;
  color: white;
  font-size: 12px;
  transform: translate(0px,30px);
  transition-duration: 0.3s;
  display: flex;
  justify-content: space-between;
}

#indicator {
  margin-left: 5px;
  font-size: 16px;
  color: rgb(255,215,73);
}

.p1 {
  width: 300px;
  height: 188px;
  background: white url('../../assets/img/content/Crescend%20belowshot.png');
}

.p2 {
  width: 200px;
  height: 200px;
  background: white url('../../assets/img/content/Paradoxs%20evening%20because%20why%20not.%20oh%20and%20he%20remembered%20his%20glasses%20now.png');
}

.p3 {
  width: 287px;
  height: 160px;
  background: white url('../../assets/img/content/glimmys.png');
}

.p4 {
  background: white url('../../assets/img/content/Hearts%20warming%20snowpone.png');
  width: 280px;
  height: 200px;
}

.p5 {
  background: white url('../../assets/img/content/Solbutt_sfw.png');
  width: 292px;
  height: 180px;
}

.p6 {
  background: white url('../../assets/img/content/DiscordPone.png');
  width: 318px;
  height: 192px;
}

.p7 {
  background: white url('../../assets/img/content/glasses%20on.png');
  width: 300px;
  height: 192px;
}

.p8 {
  background: white url('content/filter.png');
  width: 270px;
  height: 160px;
}

.p9 {
  background: white url('../../assets/img/content/MareotaSolo_eyeupdate.png');
  width: 310px;
  height: 179px;
}

