a {
  text-decoration: none;
  color: initial;
}

a:hover {
  text-decoration: none;
  color: initial;
  text-decoration: none;
}

#where {
  /*background: blue;*/
  width: 100%;
  /*height: 100vh;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 2rem;
  user-select: none;
}

.holdit {
  font-family: 'quicksand';
  font-size: 3rem;
  font-weight: bold;
  color: #6b6b6b;
  text-align: center;
}

@media (max-width: 800px) {
  .holdit {
    font-family: 'quicksand';
    font-size: 2rem;
    font-weight: bold;
    color: #6b6b6b;
    text-align: center;
  }
}

.skiptext {
  font-size: 2rem;
  font-family: 'Quicksand';
  color: #a2a2a2;
  text-align: center;
}

@media (max-width: 800px) {
  .skiptext {
    font-size: 1.2rem;
    font-family: 'Quicksand';
    color: #a2a2a2;
    text-align: center;
    margin-bottom: 3rem;
  }
}

.skipper {
  width: 100%;
  height: 60%;
  display: flex;
  /*flex-direction: column;*/
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 1150px) {
  .skipper {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
  }
}

#skipblocks {
  font-family: 'Quicksand';
  background: white;
  width: 300px;
  height: 120px;
  border-radius: 20px;
  box-shadow: rgba(83,83,83,0.19) 0px 0px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  transition-duration: 0.4s;
  margin: 1rem;
}

@media (max-width: 800px) {
  #skipblocks {
    font-family: 'Quicksand';
    /*background: rgb(255,0,0);*/
    width: 300px;
    min-height: 90px;
    border-radius: 20px;
    box-shadow: rgba(83,83,83,0.47) 0px 0px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    transition-duration: 0.4s;
    margin: 1rem;
  }
}

.textblocks {
  margin: 0;
  position: absolute;
  /*font-weight: 600;*/
  /*color: #3f3f3f;*/
  /*font-style: italic;*/
  user-select: none;
  white-space: nowrap;
}

.b1 {
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: rgb(255,229,136);
}

.b1:hover {
  transform: scale(1.1);
  border-width: 60px 150px 60px 150px;
}

.b2 {
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: rgb(163,47,255);
}

.b2:hover {
  transform: scale(1.1);
  border-width: 60px 150px 60px 150px;
  color: white;
}

#tb3 {
  font-size: 1.8rem;
}

#skipblocks3 {
  font-family: 'Quicksand';
  background: white;
  width: 360px;
  height: 120px;
  border-radius: 20px;
  box-shadow: rgba(83,83,83,0.25) 0px 0px 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  transition-duration: 0.4s;
  margin: 1rem;
}

.b3 {
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: rgb(255,84,84);
}

.b3:hover {
  transform: scale(1.1);
  border-style: solid;
  border-width: 60px 150px 60px 150px;
  border-color: rgb(255,84,84);
  color: white;
}

